/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 24px;
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

/* RestaurantCard */
.res-card {
  padding: 10px;
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  overflow: hidden;
  box-sizing: border-box;   /* border + padding ko include kare */
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 180px;
  object-fit: cover;          /* image crop ho kar fit rahe */
  display: block;
  margin: 0 auto;
}

/* card ke andar text fix */
.res-card h3,
.res-card p,
.res-card h4 {
  margin: 5px 0;
  font-size: 14px;
  word-wrap: break-word;      
  overflow: hidden;
  text-overflow: ellipsis;    
}

/* Container for vertical layout */
.res-container {
  display: flex;
  flex-wrap: wrap;          /* cards line break karke neeche chale jayenge */
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;  /* left aligned */
  align-items: flex-start;      /* top se align */
}

.filter-btn {

margin: 10px;
cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: gray;
}










.footer {
  background-color: #1e293b; /* dark navy */
  color: #ffffff;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #ffffff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #0ea5e9; /* light blue on hover */
}

.login {


  padding: 10 30px;
  cursor: pointer;
}